@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--Very-Dark-Blue);
    color: var(--White);
    font-size: 15px;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: 4rem auto;
    background-color: var(--Dark-Blue);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 58vh;
}

.container ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
}

.report {
    color: var(--Light-Grey);

}

.ratings {
    border-radius: 10rem;
    box-shadow: 0px 19px 21px 15px rgba(0,0,0,0.1);
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ratings:hover {
    color: var(--Very-Dark-Blue);
    background-color: var(--White);
    cursor: pointer;
}

#star-image {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    box-shadow: 0px 19px 21px 15px rgba(0,0,0,0.1);
    border-radius: 11rem;
}

#submitBtn {
    background-color: var(--Orange);
    color: var(--Very-Dark-Blue);
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
}

#submitBtn:hover {
    background-color: var(--White);
    color: var(--Very-Dark-Blue);
    cursor: pointer;
}

.rated {
    background-color: var(--Orange);
    color: var(--Very-Dark-Blue);
}