@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--Very-Dark-Blue);
    color: var(--White);
    font-size: 15px;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: 2rem auto;
    background-color: var(--Dark-Blue);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
}

.container ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 90%;
}

#star-image {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
}